body {
    margin:0;
    overflow:hidden;
    -webkit-user-select: none;
    }
    button, submit, input {
    width:200px;
    height:100px;
    font-family: 'Lobster', cursive;
    border:none;
    outline:none;
    text-shadow:2px 2px #2a2b2b;
    font-size:40px;
    margin:auto;
    display:block;
    transform:translateY(100px);
    background-color:#d9d9d9;
    border-radius:16px;
    transition:all .5s;
    border-right-style:solid;
    border-bottom-style:solid;
    border-width:2px;
    border-color:#999999;
    position:absolute;
    top:-700px;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    animation-name:none;
    animation-duration:3.2s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    font-weight:bold;
    }
    @keyframes buttonanimation {
    from {
    top:-2000px;
    }
    to {
    top:-700px;
    }
    }
    button:focus {
    background-color:#cccccc;
    border-right-style:none;
    border-bottom-style:none;
    border-left-style:solid;
    border-top-style:solid;
    }
    #dice {
    width:100px;
    height:100px;
    animation-name:none;
    animation-duration:2s;
    animation-timing-function:linear;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    transform-style:preserve-3d;
    margin:auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
    position:absolute;
    transform:rotate3d(-1,1,0, 15deg);
    }
    #shadow {
    width:101px;
    height:101px;
    background-color:black;
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    z-index:-1;
    border-radius:6px;
    animation-name:none;
    animation-duration:2s;
    animation-timing-function:linear;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    transform-style:preserve-3d;
    }
    #dice div {
    width:100px;
    height:100px;
    border-style:solid;
    border-width:2px;
    border-radius:6px;
    border-color:black;
    color:black;
    font-size:80px;
    text-align:center;
    line-height:120%;
    background-color:white;
    position:absolute;
    font-family: 'Lobster', cursive;    
    }
    .front { transform:rotateY(0deg) translateZ(50px)}
    .back { transform:rotateX(180deg) translateZ(50px)}
    .left { transform:rotateX(90deg) translateZ(50px)}
    .right { transform:rotateX(-90deg) translateZ(50px)}
    .top { transform:rotateY(90deg) translateZ(50px)}
    .bottom { transform:rotateY(-90deg) translateZ(50px)}
    /* Animation CSS */
    @keyframes observe {
    from {
    transform:rotate3d(1,1,1, 0deg);
    }
    to {
    transform:rotate3d(1,1,1, 360deg);
    }
    }
    @keyframes shadowtest {
    from {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px);
    }
    to {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px);
    }
    }
    /* Roll One */
    @keyframes rollone {
    0% {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(0deg);
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateX(0deg);
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateX(360deg);
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(360deg);
    }
    }
    @keyframes rolloneshadow {
    0% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:black;
    width:100px;
    height:100px;
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:#bfbfbf;
    width:50px;
    height:50px;
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:#bfbfbf;
    width:50px;
    height:-50px;
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    width:100px;
    height:100px;
    }
    }
    /* Roll Two */
    @keyframes rolltwo {
    0% {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(0deg);
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateX(0deg);
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateX(540deg);
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) translateY(3px) rotateX(540deg);
    }
    }
    @keyframes rolltwoshadow {
    0% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:black;
    width:100px;
    height:100px;
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:#bfbfbf;
    width:50px;
    height:50px;
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:#bfbfbf;
    width:50px;
    height:-50px;
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    width:100px;
    height:100px;
    }
    }
    /* Roll Three */
    @keyframes rollthree {
    0% {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(0deg);
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateX(0deg);
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateX(630deg);
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) translateY(3px) rotateX(630deg);
    }
    }
    @keyframes rollthreeshadow {
    0% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:black;
    width:100px;
    height:100px;
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:#bfbfbf;
    width:50px;
    height:50px;
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:#bfbfbf;
    width:50px;
    height:-50px;
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    width:100px;
    height:100px;
    }
    }
    /* Roll Four */
    @keyframes rollfour {
    0% {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(0deg);
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateX(0deg);
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateX(450deg);
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) translateY(3px) rotateX(450deg);
    }
    }
    @keyframes rollfourshadow {
    0% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:black;
    width:100px;
    height:100px;
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:#bfbfbf;
    width:50px;
    height:50px;
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    background-color:#bfbfbf;
    width:50px;
    height:-50px;
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px);
    width:100px;
    height:100px;
    }
    }
    /* Roll Five */
    @keyframes rollfive {
    0% {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateY(0deg);
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateY(0deg);
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateY(-450deg);
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) translateY(3px) rotateY(-450deg);
    }
    }
    @keyframes rollfiveshadow {
    0% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px) rotateZ(0deg);
    background-color:black;
    width:100px;
    height:100px;
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px) rotateZ(0deg);
    background-color:#bfbfbf;
    width:50px;
    height:50px;
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px) rotateZ(450deg);
    background-color:#bfbfbf;
    width:50px;
    height:50px;
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px) rotateZ(450deg);
    width:100px;
    height:100px;
    }
    }
    /* Roll Six */
    @keyframes rollsix {
    0% {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateY(0deg);
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateY(0deg);
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) translateY(-200px) rotateY(450deg);
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) translateY(3px) rotateY(450deg);
    }
    }
    @keyframes rollsixshadow {
    0% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px) rotateZ(0deg);
    background-color:black;
    width:100px;
    height:100px;
    }
    40% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px) rotateZ(0deg);
    background-color:#bfbfbf;
    width:50px;
    height:50px;
    }
    60% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px) rotateZ(-450deg);
    background-color:#bfbfbf;
    width:50px;
    height:50px;
    }
    100% {
    transform:rotate3d(-1,1,0, 15deg) rotateX(90deg) translateZ(-51px) rotateZ(-450deg);
    width:100px;
    height:100px;
    }
    }
    /* Reset Animations */
    @keyframes resetone {
    from {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(360deg);
    }
    to {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(0deg);
    }
    }
    @keyframes resettwo {
    from {
    transform:rotate3d(-1,1,0, 15deg) translateY(3px) rotateX(540deg);
    }
    to {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(0deg);
    }
    }
    @keyframes resetthree {
    from {
    transform:rotate3d(-1,1,0, 15deg) translateY(3px) rotateX(630deg);
    }
    to {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(0deg);
    }
    }
    @keyframes resetfour {
    from {
    transform:rotate3d(-1,1,0, 15deg) translateY(3px) rotateX(450deg);
    }
    to {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(0deg);
    }
    }
    @keyframes resetfive {
    from {
    transform:rotate3d(-1,1,0, 15deg) translateY(3px) rotateY(-450deg);
    }
    to {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(0deg);
    }
    }
    @keyframes resetsix {
    from {
    transform:rotate3d(-1,1,0, 15deg) translateY(3px) rotateY(450deg);
    }
    to {
    transform:rotate3d(-1,1,0, 15deg) translateY(0px) rotateX(0deg);
    }
    }